/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')

body{
    font-family: 'Poppins', sans-serif;
}


/* start css styles */

.Text{
    font-size: 30px;
    font-weight: 700;
    margin-left: 40px;
    color:#FFFFFF;
}
.images img{
    
    width: 600px;
    height: 450px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
     padding: 40px;
    margin: 10px;
    
}
/* section main and container style  */
main{
    
 display: flex;
   flex-direction: column;
margin: 20px;
}
section{
    display: flex;
   background: #2D25A0;
    
}
.container{
    margin-top: 21px;
    /* border-radius: 5px; */
}
.container:hover img{
    background: ivory;
    transform: rotate(2s);
     transition: initial ease-in-out;
}


/* common stayel element */
 .anchor a{ 
    font-size:20px ;
    color: #FFFFFF;
    text-decoration: none;
    width: 100px;
    height: 32px; 
    background: #E02C6D;
     padding: 10px 20px;
     margin-left: 60px;
     margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
    position: static;
   
}
.fa-arrow-right{
position: static; 
}
/*  blog and players blogs styles  */
.blogs, .Players-area{
    display: flex;
    padding-left: 40px;
    background-color:#fffcfc;
    color: black;
    text-overflow: ellipsis;
      position: relative; 
} 

.blog{
        flex-wrap: wrap;
        border: #FFFFFF;
    box-shadow: gray 0px 10px 40px;
    width: 90%;
    margin-left: 5%;
    margin-right: 3%;
    padding-left: 20px;
    border-radius: 5px
   
}


.blog-element{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row-gap: 30px;
}


.blog-element img{
      
width: 400px;
height: 286px;
}
.blog-element{
     padding: 20px;
    
    margin: 10px auto;
    border-radius: 10px 20px;
    margin-bottom: 10px;
   margin-left: 5px;
    margin-top: 20px;
}
 p{ 
    flex-wrap:wrap;
    width: 450px;
     height: 80px;
    
}
.images-final img{
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-right: 200px;
   
    
}
 #Comands {
    display: flex;
    padding: 50px;
    
}

.final-match{
    margin-left: auto;
  margin-right:400px;
    width: 400px;
    height: 100px;
}
.final-match h1{
    font-size: 50px;
    font-weight: 700; 
    
}
.Thor a{
   font-size:20px ;
    color: #FFFFFF;
    text-decoration: none;
    width: 100px;
    height: 32px; 
    background: #E02C6D;
     padding: 10px 20px;
     margin-left: 300px;
     margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
}


h1{
    font-family: 'Poppins', sans-serif;
     
}
.web-ft{
   margin-top: 30px;
    font-size: 15px;
    font-weight: 200;
    padding: 40px;
    padding-bottom: 20px;
   
    
}
/* extra blog style  */
.bonding img{
    display: block;
     margin-left: auto;
  margin-right: auto;
   
    width: 300px;
    height: 200px;
}
.web-ft:hover{
    background-color: gray;
    
}
.Copa-final{
    text-align: center;
 
}
 #Pragap{
 margin-left: auto;
    margin-right: auto;
} 
/* logo class */
.Logo img{
     display: block;
     width: 180px;
    height: 90px;
  margin-left: auto;
  margin-right: auto;
  
}
/* icon  */
.icons{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(94, 81, 81);
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    
}
/* footer styles  */
footer{
    text-align: center;
}
/* ------media queries--- */

/* mobile devices */
@media only screen and (max-width:688px) {
    .container{
        display: inline-table;
        width: 300px;
        background-color: navajowhite;
        padding: 40px;
        display: inline-flex;
        grid-template-columns: repeat(1,1fr);
    }
    .images img{
       display: inline-table;
        background-color: navajowhite;
    }
    .blog{
        flex-direction: column;
       
    }
    .blog-element{
         grid-template-columns: repeat(1, 1fr);
         margin: 10px;
    }
    .images-final img{
        margin-left: 50px;
     
        margin-right: 20px;
         float: inline-block;
    }
    .Comands{
        float: inline-block;
    }
    
    
}
